body{
	height: 100%;
	padding-top: 1.83rem;
	padding-bottom: 1.6rem;
}
.startbg{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	height: 100vh;
}
.startbg img{
	width: 100%;
	height: 100%;
}
.startbg button{
	position: absolute;
	right: 0.416666rem;
	top: 0.208333rem;
	padding: 5px 5px;
	border: #F1F1F1 1px solid;
	background: rgba(0,0,0,0.2);
	border-radius: 20px;
	font-size: 0.25rem;
	letter-spacing: 1px;
	color: #545353;
}
	
.header{
	height: 1.83rem;
    border-bottom: solid 1px #f1f1f1;
    position: fixed;
    top: 0;
}
.header .search-box{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.1rem;
	width: 100%;
	background-color: #D43D3D;
}
.header .search-box .from{
	height: 100%;
	position: relative;
	flex: 1;
	margin-bottom: 0;
	display: grid;
	place-content: center;
}
.header .search-box  input{
	height: 0.729166rem;
	text-indent: 0.625rem;
	width: 6.25rem;
	border-radius: 3px;
	font-size: 0.333333rem;
	margin-left: 0.208333rem;
}
.header .search-box  input::placeholder{
	color: black;
}
.header .search-box  .icon-sousuo{
	position: absolute;
	left: 0.4rem;
	top: 0.35rem;
	font-size: 0.38rem;
	color: #5b5b5b;
}

/* 发布按钮 */
.header .search-box .camera{
	flex-basis: 1.041666rem;
	text-align: center;
	margin-top: -0.47666rem;
}
.header .search-box .camera .icon-weibiaoti553{
	font-size: 0.666666rem;
	color: white;
}
.header .search-box .camera p{
	font-size: 0.30rem;
	transform: scale(0.75);
	margin-top: -0.3rem;
	color: white;
}

/* 顶部导航 高35px */
.header-nav{
	height: 0.729166rem;
	overflow: auto;
    width: 100%;
    background: #fff;
}
.header-nav ul{
	height: 0.729166rem;
	width: 302%;
}
.header-nav ul li {
	width: 1.041666rem;
	height: 0.729166rem;
	float: left;
	font-size: 0.333333rem;
	display: grid;
	place-content: center;
}
.header-nav ul li a.active{
	color: #D43D3D;
}

/* 导航按钮 */
.header-nav .nav-menu{
	height: 0.729166rem;
	width: 0.833333rem;
	position: absolute;
	right: 0;
	top: 1.104166rem;
	background: linear-gradient(to right , rgba(255,253,255,0.9) 20%,#fff 20%);
	display: grid;
	place-content: center;
} 
.header-nav .nav-menu:before{
	content: '';
	height: 70%;
	width: 1px;
	background-color: #f1f1f1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.flush{
	text-align: center;
	font-size: 0.25rem;
	margin-top: 0.114166rem;
	display:none;
}
.flush ul li{
	width: 10px;
	height: 10px;
	background-color: #767676;
	display: inline-block;
	border-radius: 50%;
}
.flush ul li:first-child{
	animation: one 1s linear infinite alternate;
	animation-delay: 0.2s;
}
.flush ul li:nth-child(2){
	animation: one 1s linear infinite alternate;
	animation-delay: 0.3s;
}
.flush ul li:nth-child(3){
	animation: one 1s linear infinite alternate;
	animation-delay: 0.4s;
}

@keyframes one{
	from{
		transform: translateY(-5px);
	}
	to{
		transform: translateY(12px);
	}
}

/* 文章 */
.container{
	/* flex: 1; */
	font-size: 0.25rem;
    padding: 0 0.208333rem;
    /* margin-top: 1.868333rem; */
}

.container>div{
	border-bottom: 1px solid #F1F1F1;
	padding: 15px 0;
	box-sizing: border-box;
}
.container>div .title{
	font-size:0.333333rem;
	font-weight: 500;
	margin-bottom: 0.166666rem;
}
.container>div .upico,.author,.commentnum{
	font-size: 0.270833rem;
	color: #888888;
	float: left;
	margin-right: 7px;
}
.container>div .upico{
	color: red;
	border: 1px solid red;
	border-radius: 5px;
	padding: 0px 2px;
	box-sizing: border-box;
}

/* 普通新闻 */
.container .newscon .con{
	display: inline-flex;
}
.container .newscon .con .title{
	padding-right: 5px;
}
.container .newscon .newsimg img{
	flex: 1;
	width: 3.5rem;
	height: 2.0rem;
}
.container .newscon .msg .close img{
	height: 0.333333rem;
}
.container .newscon .newsimg{
	display: flex;
	flex-direction: row;
	margin-bottom: 0.204166rem;
}



/* 底部 */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  /* height: 1.25rem; */
  width: 100%;
  background: #f4f5f6;
  margin-top: 4.166666rem;
}
.footer ul {
  height: 1.25rem;
  display: flex;
}
.footer ul li {
  flex: 1;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 0.25rem;
  display: grid;
  place-content: center;
}
.footer ul li.active{
  color: #f85959;
}
.footer ul li span {
  font-size: 0.520833rem;
  margin-bottom: 2px;
}
/* 底部 */