body,ul,div,p{
	margin: 0;
	padding: 0;
}
input,button{
	outline: none;
	border: 0;
}
ul,li{
	list-style: none;
}
a{
	color: black;
	text-decoration: none;
}
.clear:after{
	content: '';
	height: 0;
	display: block;
	clear: both;
}
.floatR{
	float: right;
}