nav,
ul,
header,
footer,
body,
img {
  margin: 0;
  padding: 0;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  list-style: none;
}
.line {
  width: 100%;
  height: 0.1rem;
  background: #eee;
  margin: 0.2rem 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.active {
  font-size: 0.4rem;
  color: #f35a5a;
  font-weight: bold;
}
.sp_bigbox {
  width: 100%;
  position: relative;
}
header {
  position: fixed;
  top: 0;
  height: 1rem;
  width: 100%;
  display: flex;
  background-color: #d43d3d;
  z-index: 999;
  /* position: relative; */
}
header input {
  height: 0.8rem;
  flex: 85% 0 0;
  margin: 0.1rem 0.2rem;
  box-sizing: border-box;
  outline: none;
  border-radius: 0.1rem;
  border: none;
  padding-left: 0.8rem;
}
header span.icon-search {
	font-size: 0.333333rem;
  position: absolute;
  left: 0.5rem;
  top: 0.35rem;
}
header div.sp_issue {
  width: 0.6rem;
  color: #eee;
  font-size: 0.04rem;
  text-align: center;
  margin: 0.1rem;
}
header div.sp_issue span.icon-xiangji {
  color: #eee;
  text-align: center;
  display: block;
 font-size: 0.4rem
}
nav {
  height: 0.7rem;
  width: 100%;
  overflow: auto;
  background-color: white;
  position: fixed;
  top: 0px;
  border-bottom: 0.02rem solid #eee;
  margin-top: 1rem;
  z-index: 999;
}
nav ul.sp_ul {
  width: 17.6rem;
  background-color: pink;
  padding-left: 0.2rem;
}
nav ul.sp_ul li {
  float: left;
  line-height: 0.7rem;
  font-size: 0.32rem;
  margin: 0 0.2rem;
}
nav div.menu {
  position: fixed;
  right: 0px;
  top:1.020833rem;
  background-color: white;
  width: 0.8rem;
  text-align: center;
  height: 0.68rem;
  line-height: 0.3rem;
  color: #949494;
  box-shadow: #eee;
}
nav div.menu span.icon-caidan {
  font-size: 0.5rem;
}
.banner {
  margin-top: 1.7rem;
  height: 5rem;
  overflow: auto;
  /* margin-bottom: 0.4rem; */
}
.banner ul {
  height: 5rem;
  width: 300vw;
}
.banner ul li {
  float: left;
  height: 5rem;
  width: 100vw;
}
.banner ul li img {
  width: 100vw;
  /* height: 5rem; */
  height: 100%;
}
.classify {
  height: 0.8rem;
  margin: 0.2rem 0;
  overflow: auto;
}
.classify ul {
  height: 0.6rem;
  width: 24rem;
}
.classify ul li {
  float: left;
  font-size: 0.24rem;
  padding: 0.2rem 0.6rem;
  background-color: #f4f5f6;
  border-radius: 0.2rem;
  margin: 0 0.2rem;
  vertical-align: top;
}
.classify ul li img {
  width: 0.4rem;
  height: 0.4rem;
  vertical-align: bottom;
  margin-right: 0.1rem;
}
.score {
  height: 9em;
  font-size: 0.32rem;
  margin-bottom: 0.4rem;
  overflow: auto;
}
.score ul {
  width: 23.2rem;
}
.score ul li {
  float: left;
  width: 17em;
  border: 0.02rem solid #eeeeee;
  border-radius: 0.2rem;
  margin-left: 0.2rem;
}
.score ul li .ttop {
  border-bottom: 0.02rem solid #eeeeee;
}
.score ul li .ttop p {
  vertical-align: top;
}
.score ul li .ttop p img {
  width: 0.4rem;
  height: 0.4rem;
  vertical-align: bottom;
  margin-right: 0.1rem;
  margin-left: 0.2rem;
}
.score ul li .ttop p span {
  float: right;
  margin-right: 0.2rem;
}
.score ul li .bottom {
  font-size: 0.28rem;
  color: grey;
  margin-left: 0.2rem;
}
.score ul li .bottom span {
  float: right;
  margin-right: 0.2rem;
}
.message {
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  padding: 0 0.3rem;
}
.message .username {
  height: 1rem;
  width: 100%;
  position: relative;
}
.message .username img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  float: left;
}
.message .username p.uname {
  font-size: 0.28rem;
  font-weight: bold;
  float: left;
  position: absolute;
  top: -0.2rem;
  left: 1.08rem;
  vertical-align: top;
}
.message .username span.desc {
  position: absolute;
  bottom: 0;
  left: 1.08rem;
  font-size: 0.24rem;
  color: grey;
}
.message .username span.attention {
  float: right;
  color: #f85959;
  font-size: 0.28rem;
  font-weight: bold;
  margin-right: 0.4rem;
}
.message .sp_content {
  margin-top: -0.2rem;
  font-size: 0.36rem;
}
.message .sp_content img {
  vertical-align: top;
  width: 5rem;
  max-height: 5rem;

}
.message .like {
  width: 100%;
  height: 0.6rem;
  margin-top: 0.2rem;
  font-size: 0.24rem;
}
.message .like ul {
  width: 100%;
}
.message .like ul li {
  float: left;
  width: 33.3%;
  text-align: center;
  line-height: 0.6rem;
  justify-content: space-around;
}
.message .like ul li span {
  margin-right: 0.2rem;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 100%;
  background: #f4f5f6;
}
footer ul {
  width: 100%;
}
footer ul li {
  float: left;
  justify-content: space-around;
  width: 25%;
  text-align: center;
  font-size: 0.1rem;
}
footer ul li span {
  display: block;
}
footer ul li span.icon-shouye {
  color: #f85959;
  font-size: 0.4rem;
}
footer ul li span.icon-icon- {
  font-size: 0.4rem;
}
footer ul li span.icon-huoshanxiaoshipin- {
  font-size: 0.4rem;
}
footer ul li span.icon-denglu {
  font-size: 0.4rem;
}
