@import '../font/iconfont.css';
ul,
li,
a {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: inherit !important;
}
html,
body {
  font-size: 24px;
  margin: 0;
}
.wrap {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background-color: #f4f5f6;
}
.wrap .header {
  color: #fff;
  background-color: #39404d;
}
.wrap .header .tol {
  height: 2.58rem;
  line-height: 2.58rem;
  padding: 0 0.625rem;
  text-align: center;
}
.wrap .header .tol span.icon-left {
  float: left;
  font-size: 1rem;
}
.wrap .header .tol .title {
  font-size: 0.8rem;
}
.wrap .header .tol span.icon-shezhi {
  float: right;
  font-size: 1rem;
  transition: transform 1s;
}
.wrap .header .tol span.icon-shezhi:hover {
  transform: rotateZ(360deg);
}
.wrap .header .capital {
  display: flex;
  justify-content: space-around;
}
.wrap .header .capital a {
  width: 3.66rem;
  height: 3.95rem;
  padding-top: 0.83rem;
  text-align: center;
}
.wrap .header .capital a .iconfont {
  font-size: 1.25rem;
}
.wrap .header .capital a p {
  margin-top: 0.2rem;
  font-size: 0.65rem;
}
.wrap .service {
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #fff;
}
.wrap .service .title {
  margin: 0.5rem 0 0.5rem 0.5rem;
  font-size: 0.66rem;
  color: #5f5f5f;
}
.wrap .service .nav {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e8e8e8;
}
.wrap .service .nav .item {
  width: 33.33%;
  height: 5.41rem;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.wrap .service .nav .item:nth-child(3n) {
  border-right: 0;
}
.wrap .service .nav .item a {
  display: block;
}
.wrap .service .nav .item a .iconfont {
  font-size: 1.25rem;
  margin-top: 10px;
  flex: 1 0 100%;
}
.wrap .service .nav .item a p {
  margin: 10px 0 0 ;
  font-size: 0.55rem;
}
.wrap .service .nav .item .icon-jieqian {
  color: #0c8ee9;
}
.wrap .service .nav .item .icon-yinhangqia1 {
  color: #0c8ee9;
}
.wrap .service .nav .item .icon-icon-test {
  color: #f05a4a;
}
.wrap .service .nav .item .icon-shouji {
  color: #f39926;
}
.wrap .service .nav .item .icon-youxi {
  color: #24a88f;
}
.wrap .service .nav .item .icon-baoxian {
  color: #0c8ee9;
}
.wrap .service .nav .item .icon-gupiao {
  color: #0c8ee9;
}
.wrap .service .nav .item .icon-tubiao1shuxiaoshuo {
  color: #f39926;
}
.wrap .proposal {
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #fff;
}
.wrap .proposal .title {
  margin: 0.5rem 0 0.5rem 0.5rem;
  font-size: 0.66rem;
  color: #5f5f5f;
}
.wrap .proposal .nav {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e8e8e8;
}
.wrap .proposal .nav .item {
  width: 33.33%;
  height: 5.41rem;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.wrap .proposal .nav .item:nth-child(3n) {
  border-right: 0;
}
.wrap .proposal .nav .item a {
  display: block;
}
.wrap .proposal .nav .item a .iconfont {
  font-size: 1.25rem;
  margin-top: 10px;
  flex: 1 0 100%;
}
.wrap .proposal .nav .item a p {
  margin: 10px 0 0 ;
  font-size: 0.55rem;
}
.wrap .proposal .nav .item .icon-tubiao1shuxiaoshuo {
  color: #f05a4a;
}
.wrap .proposal .nav .item .icon-chengshiguanli {
  color: #2aaa91;
}
.wrap .banner {
  overflow: hidden;
  margin-bottom: 10px;
}
.wrap .banner ul {
  display: flex;
  animation: run 5s steps(3) infinite;
}
.wrap .banner ul li {
  flex: 1 0 100%;
}
.wrap .banner ul li img {
  width: 100%;
  vertical-align: middle;
}
.wrap .stranger {
  overflow: hidden;
  background-color: #fff;
}
.wrap .stranger .title {
  margin: 0.5rem 0 0.5rem 0.5rem;
  font-size: 0.66rem;
  color: #5f5f5f;
}
.wrap .stranger .nav {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e8e8e8;
}
.wrap .stranger .nav .item {
  width: 33.33%;
  height: 5.41rem;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.wrap .stranger .nav .item:nth-child(3n) {
  border-right: 0;
}
.wrap .stranger .nav .item a {
  display: block;
}
.wrap .stranger .nav .item a .iconfont {
  font-size: 1.25rem;
  margin-top: 10px;
  flex: 1 0 100%;
}
.wrap .stranger .nav .item a p {
  margin: 10px 0 0 ;
  font-size: 0.55rem;
}
.wrap .stranger .nav .item .icon-jingdong {
  color: #f05a4a;
}
.wrap .stranger .nav .item .icon-jingcai {
  color: #fb7b53;
}
.wrap .stranger .nav .item .icon-suningyigou {
  color: #f39926;
}
.wrap .stranger .nav .item .icon-heimao {
  color: #d81e06;
}
.wrap .stranger .nav .item .icon-xiecheng {
  color: #0068b6;
}
@keyframes run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300%);
  }
}
