@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
  html,
  body {
    font-size: 33.75px;
  }
}
@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
  html,
  body {
    font-size: 30px;
  }
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  html,
  body {
    font-size: 25px;
  }
}
@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  html,
  body {
    font-size: 22.5px;
  }
}
@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  html,
  body {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  html,
  body {
    font-size: 18.75px;
  }
}
@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
  html,
  body {
    font-size: 16.875px;
  }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  html,
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
  html,
  body {
    font-size: 12.9375px;
  }
}
@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
  html,
  body {
    font-size: 12.5px;
  }
}
@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
  html,
  body {
    font-size: 11.71875px;
  }
}
@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
  html,
  body {
    font-size: 11.25px;
  }
}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  html,
  body {
    font-size: 10px;
  }
}
@media only screen and (max-width: 240px), only screen and (max-device-width: 240px) {
  html,
  body {
    font-size: 7.5px;
  }
}
.novelcontent_header {
  background: #fff;
  margin-bottom: 0.5rem;
}
.novelcontent_header .top {
  height: 2.5rem;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #f4f5f6;
}
.novelcontent_header .top .back {
  flex: 0 0 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background: url("../images/返回.png") no-repeat;
  background-size: 50% 50%;
  background-position: 0.5rem 0.5rem;
}
.novelcontent_header .top .tab {
  width: 100%;
  display: flex;
  justify-content: center;
}
.novelcontent_header .top .tab li {
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 0.9rem;
  margin-left: 2rem;
  box-sizing: border-box;
}
.novelcontent_header .top .tab li.active {
  border-bottom: 2px solid #f77070;
  font-weight: 600;
}
.novelcontent_header .top .search {
  flex: 0 0 2.5rem;
  background: url("../images/搜索.png") no-repeat;
  background-size: 50% 50%;
  background-position: 0.5rem 0.5rem;
}
.novelcontent_header .top .account {
  flex: 0 0 2.5rem;
  background: url("../images/我的.png") no-repeat;
  background-size: 50% 50%;
  background-position: 0.5rem 0.5rem;
}
.novelcontent_header .logo {
  width: 100%;
  height: 10rem;
}
.novelcontent_header .logo img {
  margin: 1.25rem 0 0 1.25rem;
  width: 17.5rem;
  height: 7.5rem;
}
.novelcontent_content .classify {
  background: #fff;
  margin-bottom: 0.5rem;
}
.novelcontent_content .classify .classify_nav {
  height: 3.5rem;
  display: flex;
  line-height: 3.5rem;
}
.novelcontent_content .classify .classify_nav h4 {
  width: 100%;
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 1.5rem;
}
.novelcontent_content .classify .classify_nav a {
  flex: 0 0 3.5rem;
  line-height: 3.5rem;
}
.novelcontent_content .classify .classify_nav a span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url("../images/右箭头.png");
  background-size: 100% 100%;
  vertical-align: -0.2rem;
}
.novelcontent_content .classify ul {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 6rem;
  overflow: hidden;
}
.novelcontent_content .classify ul li {
  border-radius: 20px;
  margin: 0 0 1rem 0.5rem;
  padding: 0.5rem 0.75rem;
}
.novelcontent_content .manranking {
  background: #fff;
  margin-bottom: 0.5rem;
}
.novelcontent_content .manranking .manranking_nav {
  height: 3.5rem;
  line-height: 3.5rem;
}
.novelcontent_content .manranking .manranking_nav h4 {
  width: 100%;
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 1.5rem;
}
.novelcontent_content .manranking .manranking_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 12.5rem;
}
.novelcontent_content .manranking .manranking_content .col {
  display: flex;
  justify-content: space-between;
  height: 5rem;
}
.novelcontent_content .manranking .manranking_content .col .row {
  flex: 0 0 35%;
  margin: 0 1.25rem;
}
.novelcontent_content .manranking .manranking_content .col .row a {
  display: inline-block;
  width: 100%;
  height: 5rem;
}
.novelcontent_content .manranking .manranking_content .col .row a span {
  display: inline-block;
  padding: 0.75rem 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  border: 1px solid skyblue;
  width: 1rem;
}
.novelcontent_content .manranking .manranking_content .col .row a div {
  display: inline-block;
  background: url("../images/pic7.jpg");
  background-size: 100% 100%;
  float: right;
  height: 4.5rem;
  margin: 0.25rem 1rem;
  width: 3.5rem;
}
.novelcontent_content .big_recommendation {
  background: #fff;
  margin-bottom: 0.5rem;
}
.novelcontent_content .big_recommendation .big_recommendation_nav {
  height: 3.5rem;
  display: flex;
  line-height: 3.5rem;
}
.novelcontent_content .big_recommendation .big_recommendation_nav h4 {
  width: 100%;
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 1.5rem;
}
.novelcontent_content .big_recommendation .big_recommendation_nav a {
  flex: 0 0 5rem;
  line-height: 3.5rem;
}
.novelcontent_content .big_recommendation .big_recommendation_nav a span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url("../images/换一换.png") no-repeat;
  background-size: 80% 80%;
  vertical-align: middle;
}
.novelcontent_content .big_recommendation .big_recommendation_content {
  padding: 0 1.25rem 1rem;
}
.novelcontent_content .big_recommendation .big_recommendation_content .col1 a {
  width: 100%;
  display: flex;
  padding: 1rem 0;
}
.novelcontent_content .big_recommendation .big_recommendation_content .col1 a .recommend_content_img {
  flex: 0 0 6rem;
  height: 7.5rem;
  margin-right: 1rem;
}
.novelcontent_content .big_recommendation .big_recommendation_content .col1 a .recommend_content_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.novelcontent_content .big_recommendation .big_recommendation_content .col1 a .right {
  flex: 0 0 70%;
}
.novelcontent_content .big_recommendation .big_recommendation_content .col1 a .right h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  padding: 0.75rem 0 1.5rem;
}
.novelcontent_content .big_recommendation .big_recommendation_content .col1 a .right p {
  font-size: 0.9rem;
  height: 1.4rem;
  color: #aaa;
  margin-bottom: 0.2rem;
  overflow: hidden;
}
.novelcontent_content .big_recommendation .big_recommendation_content .col2 {
  display: flex;
  justify-content: space-between;
}
.novelcontent_content .big_recommendation .big_recommendation_content .col2 li {
  flex: 0 0 20%;
  text-align: center;
}
.novelcontent_content .big_recommendation .big_recommendation_content .col2 li a img {
  width: 100%;
  border-radius: 5px;
}
.novelcontent_content .beauty {
  background: #fff;
  margin-bottom: 10px;
}
.novelcontent_content .beauty .beauty_nav {
  height: 3.5rem;
  display: flex;
  line-height: 3.5rem;
}
.novelcontent_content .beauty .beauty_nav h4 {
  width: 100%;
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 1.5rem;
}
.novelcontent_content .beauty .beauty_nav a {
  flex: 0 0 5rem;
  line-height: 3.5rem;
}
.novelcontent_content .beauty .beauty_nav a span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url("../images/换一换.png") no-repeat;
  background-size: 80% 80%;
  vertical-align: middle;
}
.novelcontent_content .beauty .beauty_content {
  padding: 0 1.25rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.novelcontent_content .beauty .beauty_content li {
  flex: 0 0 28%;
  text-align: left;
  margin-bottom: 1rem;
}
.novelcontent_content .beauty .beauty_content li a img {
  width: 100%;
  border-radius: 5px;
}
.novelcontent_content .novelcontent_recommend {
  background: #fff;
  margin-bottom: 0.5rem;
}
.novelcontent_content .novelcontent_recommend .novelcontent_recommend_nav {
  height: 3.5rem;
  line-height: 3.5rem;
}
.novelcontent_content .novelcontent_recommend .novelcontent_recommend_nav h4 {
  width: 100%;
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 1.5rem;
}
.novelcontent_content .novelcontent_recommend .novel_recommend_content {
  padding: 0 2rem;
}
.novelcontent_content .novelcontent_recommend .novel_recommend_content li a {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}
.novelcontent_content .novelcontent_recommend .novel_recommend_content li a .recommend_content_img {
  flex: 0 0 7rem;
  height: 8.5rem;
  margin-right: 1rem;
}
.novelcontent_content .novelcontent_recommend .novel_recommend_content li a .recommend_content_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.novelcontent_content .novelcontent_recommend .novel_recommend_content li a .right {
  flex: 0 0 70%;
}
.novelcontent_content .novelcontent_recommend .novel_recommend_content li a .right h4 {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  padding: 0.75rem 0 1.5rem;
}
.novelcontent_content .novelcontent_recommend .novel_recommend_content li a .right p {
  font-size: 0.9rem;
  height: 1.4rem;
  color: #666;
  margin-bottom: 0.625rem;
  overflow: hidden;
}
